footer
	.container
		.row.well.ml-t
			.col-lg-8.col-md-8
				h4
					| Developed by: 
					a.text-info.m-r(href='http://carlofontanos.com', target='_blank') Carl Victor C. Fontanos
				.personal-sm
					a.m-r(href='http://carlofontanos.com/about-me')
						i.fa.fa-home.text-success(title='')  
					a.m-r(href='https://www.facebook.com/carlo.fontanos', target='_blank', title='Facebook')
						i.fa.fa-facebook.text-primary  
					a.m-r(href='https://twitter.com/carlofontanos', target='_blank', title='Twitter')
						i.fa.fa-twitter.text-warning  
					a.m-r(href='https://plus.google.com/u/0/107219338853998242780/about', target='_blank', title='GooglePlus')
						i.fa.fa-google-plus.text-danger 
					a.m-r(href='https://ph.linkedin.com/in/carlfontanos', target='_blank', title='Linkedin')
						i.fa.fa-linkedin.text-success
					a.m-r(href='https://github.com/carlo-fontanos', target='_blank', title='Github')
						i.fa.fa-github.text-primary  
					a(href='mailto:carl.fontanos@gmail.com', title='Contact Me')
						i.fa.fa-envelope-o.text-warning  
			.col-lg-4.col-md-4.text-right
				p.m-t
					| Copyright &copy 
					a.text-info(href='http://carlofontanos.com', target='_blank') www.carlofontanos.com
				p All Rights Reserved.
					
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
script(src='//cdn.ckeditor.com/4.5.10/standard/ckeditor.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js')
script(src='/libraries/lobibox/lobibox.min.js')
script(src='/libraries/imageviewer/imageviewer.min.js')
script(src='/javascripts/jquery.form.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/global.js')
script(src='/javascripts/app.js')
